<div>This is the products view.</div>

<button type="submit" ng-click="$ctrl.message()">clickme</button>
{{$ctrl.number}}
<p class="input-group">
  <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
  <span class="input-group-btn">
    <button type="submit" class="btn btn-primary" ng-click="$ctrl.message()">Add New</button>
  </span>
    <span ng-repeat="data in $ctrl.data">
{{data.title}}</span>
  <input type="number" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newNumber">
  <span class="input-group-btn">
    <button type="submit" class="btn btn-primary" ng-click="$ctrl.addNumber($ctrl.newNumber)">Add New</button>
  </span>
